#page {
    padding-top: 60px;
}
#map{
    padding:5px;
    border:1px solid #DDD;
}
#EGMapContainer1{
    width:100% !important;
}
#EGMapContainer1 img{
    max-width: none;
}

#showData-map{
    width:300px;
}
#showData-map .judul, #showData-map .content-kategori{
    text-align:center;
    font-weight:bold;
}
#showData-map img{
    width:90px;   
}